html {
	/* font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; */
	font-family: 'Eczar', serif;
	overflow: hidden;
}

body {
	color: #F1FAEE;
	background: #F1FAEE;
	padding: 0;
	margin: 0 10px 0 10px;
}

#background {
	position: relative;
	height: 100%;
	width: 100%;
	background: url(img/bg.jpg); /* http://unsplash.it/2900?blur&image=1041 */
	background-size: 170%;
	animation: panning 200s infinite linear;
}

#filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	z-index: 10;
}

#content {
	width: 760px;
	height: 640px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}

p {
	font-size: 1.5em;
	margin: 0.5em 0 0 0;
}

a {
	text-decoration: none;
	color: #A8DADC;
}

h1 {
	font-size: 2.5em;
	font-weight: 800;
	letter-spacing: 1px;
	margin-bottom: 0;
}

i {
	/* color: #E63946; */
	color: #ff7878;
	letter-spacing: 1.5px;
}

#sub {
	font-size: 2em;
	font-style: italic;
	margin: 0 0 1em 0;
}

#photo {
	border-radius: 100%;
	box-shadow: 0px 0px 2px 2px #F1FAEE;
	width: 250px;
	height: 250px;
	background-size: 250px 250px;
	background-repeat: no-repeat;
	margin: auto;
	transition: .5s ease-in-out all;
	-o-transition: .5s ease-in-out all;
	-ms-transition: .5s ease-in-out all;
	-moz-transition: .5s ease-in-out all;
}

#photo.first {
	background-image: url(img/1.jpg);
}

#photo.second, #photo.third, #photo.fourth, #photo.fifth {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

#photo.second {
	background-image: url(img/2.jpg);
}

#photo.third {
	background-image: url(img/3.jpg);
}

#photo.fourth {
	background-image: url(img/4.jpg);
}

#photo.fifth {
	background-image: url(img/ee.svg);
}

.fa {
	color: #F1FAEE;
	margin: 2.5em .1em 0;
}

.fa:before {
	font-size: 36px;
}

.fa:hover {
	color: #A8DADC;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

@keyframes panning {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	75% {
		background-position: 0 100%;
	}
	200% {
		background-position: 0 0;
	}
}

@media only screen and (max-height: 700px) {

	html {
		font-size: .9em;
	}

	#photo {
		width: 200px;
		height: 200px;
		background-size: 200px 200px;
	}	
	#content {
		width: 700px;
		height: 550px;
	}
	.fa {
		margin: 1em .1em 0;
	}

	.fa:before {
		font-size: 24px;
	}
}

@media only screen and (max-height: 500px) {

	html {
		font-size: .5em;
	}

	#photo {
		width: 150px;
		height: 150px;
		background-size: 150px 150px;
	}	
	#content {
		width: 400px;
		height: 400px;
	}

	.fa:before {
		font-size: 20px;
	}
}

@media (max-height: 300px) {
	#photo {
		display: none;
	}

	#content {
		width: 400px;
		height: 220px;
	}
	
	h1 {
	font-size: 2.5em;
	font-weight: 800;
	letter-spacing: 1px;
	margin-bottom: 0;
	}
}